extends layout

block content
    div#questionPageBody
        div#questionPageMain
            div#qpm-up
                each tag in data.tags
                    span.tags= tag
                p.title= data.title 
                p.description= data.description
                p.qpm-up-down
                    span.fa.fa-comment &nbsp;评论
                    span.fa.fa-bolt &nbsp;举报
                    
                p#qpm-up-answer-count 
                    span 0个回答
                    span 默认排序
            div#qpm-mid
                //- div.questionDiv
                //-     span.answerName 王德福
                //-     span.answerMotto  http://jiangshanmeta.github.io js围观者
                //-     a.answerImg 
                //-     div.answerText 
                //-         | 说自己精通交互设计的，行，用css3写一个动画小球从左跑到右，完了抖一下，停住。
                //-         | 说自己精通javascript的，给一段闭包代码说说这段代码在弄啥呢？
                //-         | 说自己熟悉网络协议,http://www.google.com，说下返回的状态码是啥意思。
                //-         | 我觉得我已经很没有底线了。但是………
                //-         | 遇到一个说，卧槽，你们家wifi怎么断了？
                //-         | 然后我很认真地告诉他，这是一个假网站。
                //-     span.fa.fa-pencil.modifyBtn 修改
                //-     p
                //-         span.answerTime 发布于 2017-2-15 15:32
                //-         span.comment(class='fa fa-comment') &nbsp;评论

                                      
            div#qpm-down                   
                span.fa.fa-window-maximize
                textarea#temp1(placeholder="输入你的回答...")
                span.submit 发布回答

        div#questionPageSider
            span.questionTime= data.time
            span.questionProducer= data.questionProducer
    script(src='/javascripts/questionPage.js')